/* Blog styles*/

.todopost {

  /* font-weight: normal;
  padding: 2em 0 !important; */

}
  
.todoheader {
  
color: #1e70bf;

} 


.todonavbar {
  
  color: #1e70bf;
  /* position: fixed;
  z-index: 900; */

  } 


  /*end blogitem styles*/